.head-20 {
    background: #84bdbe;
  }

  @media screen and (max-width:992px) {
    .head-20 {
      position: absolute;
      visibility: hidden;
    }

    .menu-navbar #navbar {
      position: fixed;
      z-index: 1;
      top: 0px;
      width: 100%;
      transition: top 0.2s;
    }
  }

  .p-header {
    color: #fff;
  }

  #navbar {
    position: fixed;
    z-index: 1;
    top: 38px;
    width: 100%;
    transition: top 0.5s;
  }

  .closeheader {
    color: #fff;
    position: absolute;
    top: -5px;
    right:40px;
    font-size: 30px;
    cursor: pointer;
  }

  .responsive {
    width: 100%;
    height: auto;
  }