.openBtn {
    border: none;
    padding: 5px 5px;
    font-size: 20px;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width:40%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  
  .overlay-content {
    position: relative;
    top: 100px;
    width: 80%;
    text-align: center;
    margin-top: 10px;
    margin: auto;
  }
  
  .overlay .close-x {
    position: absolute;
    top:55px;
    left:140%;
    font-size: 40px;
    color: rgb(153, 102, 102);
  }
  
  .overlay .close-x:hover {
    color: rgb(27, 25, 25);
  }s
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
 
  .overlay button:hover {
    background: #bbb;
  }