*{
	margin:0;
	padding:0;
}
/* start header */
#header-pyviet{
	background: #b3b3ff;
	border-radius:5px;
}
#logo{
	width:40px;
	height:40px;
	font-family: 'Source Code Pro' , monospace;
}
#collapsibleNavbar{
	position:relative;	
}
.dddd{
	list-style-type:none;
}
.dddd li:hover{
	background:#33ccff;
}
.size-sr{
	width:70px;
}
.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 5px 7px;
  font-size: 20px;
  border-radius:5px;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 5px;
	right: 55px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
/* // */
.here-display{	
	padding:0px;
	margin:0 4px;
	font-weight:bold;
	color:#000000;
	position:reletive;
}
.here-display:hover{
	background-color:#33ccff;
}
.hover-display:hover{
	color:white;
}
.content-link{
	padding-top:15px;
	display:none;
	left:-160px;
	position:absolute;
	min-width:400px;
	box-shadow: rgba(0,0,0,0.2);
	z-index:2;
}
.content-link a{
	text-decoration:none;
	display:block;
}
.content-link a:hover{
	color:white;
}
.content-link:hover{
	background-color:#e6e6e6;
}
.here-display:hover .content-link{
	display:block;
}
.here-display:hover .hover-display{
	background:#33ccff;
}
/* oooooooooo */
#home-active{
	background:#33ccff;
}
.search-ion{
	font-size:18px;
	border-radius:5px;
	display: inline-block;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
}
.icon-search{
	padding:7px 7px 2px 7px;
	font-size:18px;
	border-radius:5px;
}
/* header-search */
#header-search{
	padding-top:40px;
	background:#9fbfdf;
}
/* SEARCH */
#search{
	padding-left:20px;
	width:350px;
	height:35px;
	border-radius:5px;
}
.aaa:hover{
	text-decoration:none;
}
.img{
	margin-top:10px;
	width:45px;
	height:50px;
	border:2px solid blue;
	margin-bottom:20px;
}
.img:hover{
	border:2px solid red;
}
/* end header */
/* start library */
#pyviet-library{
	margin-top:20px;
}
.item-list{
	padding:-2px;
}
.title-list{
	font-weight:bold;
	padding:5px 0;
	border-radius:20px 0 20px 0;
	background: #00ccff;
}
.link-list-content{
	color: #666699;
	font-size:16px;
	border:0.2px ridge;
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
}
.link-list-content:hover{
	color:white;
	display:block;
	background: #00ccff;
}
/* end library */
/* start popular-afew */
#popular-afew{
	padding-top:20px;
	background-color:#c2c2d6;
}
#afew{
	padding-bottom:40px;
}
.div-circle{
	margin-top:10px;
	text-align:center;
}
.circle{
	width:130px;
	height:130px;
	border-radius:50%;
	background:#fff;
	position:relative;
	margin-bottom:50px;
}
.circle:hover{
	background:#000;
}
.mark-title{
	font-weight:bold;
	font-size:1.2em;	
}
.icon-color{
	font-size:5em;
	color: #00ccff;
}
.link-circle:hover{
	text-decoration:none;
	color:#000;
}
/* end popular-afew */

#milion{
	padding:30px 20px 30px 20px;
	background:#1f1f2e;
}
#mili-100{
	font-size:1.2em;
	margin:40px 20px;
	background:rgba(255,255,255,0.8);
	padding:20px 50px;
}
#atrus{
	color:white;
	font-size:1.5em;	
	padding-left:60px;
}
#parag{
	color:white;
	font-size:1.1em;
	padding-left:30px;
}
/* footer */
.footer-circle{
	margin-top:15px;
	text-align:center;
}
.linkcircle:hover{
	text-decoration:none;
	color:#000;
}
.circle-ft{
	width:130px;
	height:130px;
	border-radius:50%;
	background:#cc99ff;
	position:relative;
	margin-bottom:50px;
}
.icon-foot{
	font-size:5em;
}
.foot-title{
	color:white;
	font-weight:bold;
}
.size-icon{
	font-size:1.3em;
	background:#fff;
	padding:2px;
	border-radius:5px;
}
.tf{
	margin-top:10px;
	font-size:1.4em;
	font-weight:bold;
	color:white;
}
.flink{
	color:#00ccff;
}
.flink:hover{
	color:#fff;
}
#footer-pyviet{
	margin-top:50px;
	padding-top:20px;
	background:rgba(1,4,5,0.6);
	padding-bottom:50px;
}
.toptutorial{
	position:relative;
}
.bf{
	padding-bottom:150px;
}
#copy-footer{
	position:absolute;
	bottom:1px;
	color:white;
}